.onboarding_wrapper {
    height: calc(100vh - 30rem);

    .onboarding_banner_wrapper,
    .onboarding_form_wrapper {
        flex: 1;
    }

    .onboarding_banner_wrapper {
        background-color: $gray-bg;

        .banner_text_wrapper {
            padding: 5.2rem 10rem;
        }
    }

    .onboarding_form_wrapper {
        padding: 12.6rem 10rem;

        .text-signin {
            margin-bottom: 4rem;
        }

        .navigation-buttons {}
    }

    .or-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        /* Adjust the spacing between the lines and the text */
        .line {
            flex: 1;
            /* Makes the lines expand to fill available space */
            border: none;
            border-top: 1px solid $black;
            /* Adjust the color and thickness */
            margin: 0 3rem;
        }
    }


}